{{ partial "header" . }}

<div class="py-5 text-center text-white bg-light" style="background-image: url('/assets/weekend.jpg'); background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;" >
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1 class="mb-3">{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>

<br />

<section id="protocol">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                            {{ .Content }}
                        </div>
                    </div>
                </div>
            </div>
        </section>

{{ partial "footer" . }}
