{{ partial "header" . }}

<!-- Blog -->
<!--  <div class="py-5 text-center text-white bg-light" style="background-image: url('{{ .Params.Featured_image }}'); background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;" >-->
{{ $image := .Page.Resources.GetMatch "featured_image" }}
<div class="py-5 text-center text-white h-60 align-items-center d-flex" style='background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .20)), url(data:image/jpeg;base64,{{ $image.Content | base64Encode }});  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;'>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 mx-auto col-md-10">
       <h1 class="text-center mb-3 text-white">{{ .Title }}</h1>
       <p class="lead text-center text-light">Door {{ .Params.Author }} op {{ .Date.Format "January 2, 2006"}}</p>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-light">
  <div class="container">
    <div class="row my-4 d-flex">
      <div class="col-md-10">
        {{ .Content }}
      </div>
    </div>
  </div>

  <!-- Gallery -->
  <div class="container">
   <div class="row">
    {{ $images := .Page.Resources.ByType "image" }}
    {{ range $images }}

      {{ $thumbnail := .Fill "600x600" }}
      {{ $fullsize := .Resize "1200x" }}
      <div class="col-lg-3 col-md-6 p-3">
        <a href="{{ $fullsize.RelPermalink }}" data-fancybox="gallery">
        <img class="img-fluid d-block" src="{{ $thumbnail.RelPermalink }}">
        </a>
      </div>
     {{ end }}
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
