{{ partial "header" . }}

<div class="py-5 text-center text-white bg-light" style="background-image: url('/assets/weekend.jpg'); background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;" >
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1 class="mb-3">{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>


<section id="about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-titles">
                            {{ .Content }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="history" class="col-md-12">
                        <h2>Geschiedenis</h2>
                        <ul class="timeline">
                            {{ $data := index .Site.Data .Site.Language.Lang }}
                            {{ range $i,$p := sort $data.timeline.timeline "date" "desc"}}
                                {{if not (modBool $i 2)}}
                                <li class="timeline-even d-flex flex-row ">
                                    <div class="timeline-img"> <img src="{{ .image }}" alt=""> </div>
                                    <div class="timeline-info p-4">
                                        <h4>{{ .subtitle }}</h4>
                                        <h4>{{ .title }}</h4>
                                        <p>{{ .description }}</p>
                                    </div>
                                </li>
                                {{else}}
                                <li class="timeline-odd d-flex flex-row-reverse ">
                                    <div class="timeline-img"> <img src="{{ .image }}" alt=""> </div>
                                    <div class="timeline-info p-4">
                                        <h4>{{ .subtitle }}</h4>
                                        <h4>{{ .title }}</h4>
                                        <p>{{ .description }}</p>
                                    </div>
                                </li>
                                {{ end }}
                            {{ end }}
                            <li class="timeline-end">
                                <div class="timeline-img"><h4><br />START</h4></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

{{ partial "footer" . }}
