/* https://codepen.io/gc-nomade/pen/gxJvBj */



.timeline li:not(:last-of-type):before {
  content:'';
  flex:1;
  margin:0 1.6em;
  min-height:15em;/*optionnal , reset to your needs, sets a rythm*/
}

.timeline-img {
  margin:0 auto auto;
}
#about-us ul {
/*optionnal, for demo . reset to your needs if  ... needed */
background:linear-gradient(to left, transparent calc(50% - 2px) , lightgray calc(50% - 1px), lightgray calc(50% + 1px) , transparent calc(50% + 2px));
}



ul {
  padding : 0;}
  ul li {
    list-style: none;
}

.timeline {
  text-align: center; }

#about-us ul:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  margin-left: -1.5px;

  background-color: #f1f1f1;
  z-index: -1; }

#about-us img {
  width: 150px;
  height: 150px;
  border-radius: 50%; }

.timeline-img {
  border: 7px solid #f1f1f1;
  border-radius: 50%;
  text-align: center;
  display: inline-block;}

.timeline-odd .timeline-info {
  float: left;
  flex:1;
  text-align: right; }

.timeline-even .timeline-info {
  float: right;
  flex:1;
  text-align: left; }

 .timeline-end .timeline-img {
    width: 164px;
    height: 164px;
    border-radius: 50%;
    background: #fed136;
   margin:auto;}

 .timeline-end h4 {
    color: #fff;
    margin-top: 45px;
    text-transform: uppercase;
    line-height: 22px; }
