  <!-- Events -->
  <div class="py-5 bg-light" id="actueel">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4 text-primary text-center">Actueel</h1>
          <div class="row">
            {{ range where .Site.Pages "Type" "blog" | first 3 }}
            <div class="col-md-4 p-3">
                {{ $image := .Resources.GetMatch "featured_image" }}
                {{ $thumb := $image.Fill "400x400" }}
                <a href="{{ .Permalink }}"><img class="img-fluid d-block w-100 mb-3" src="{{ $thumb.RelPermalink}}"></a>
                <p class="lead text-muted mb-1">{{ .Date.Format "2 January 2006"}}</p>
                <a href="{{ .RelPermalink }}">
                <h5 class="text-dark"><b>{{ .Title }}</b></h5>
                </a>
                <p class="mb-3">{{ .Description }}</p>
                <a href="{{ .RelPermalink }}" class="btn btn-outline-primary"><b class="">Lees verder</b></a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    <p class="text-center"><a href="/blog" class="btn btn-primary"><b class="">Alle blogs</b></a>
    </div>
  </div>
