  <!-- Cover -->
  <div class="align-items-center py-5 section-aquamarine d-flex bg-primary" style="background-image: url({{ .Param "logo" | relURL }});">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-white mt-5">
          <h1 class="display-3 d-none d-md-block text-center">{{ .Param "title" }}</h1>
          <h1 class="display-5 d-block d-md-none text-center">{{ .Param "title-splitted" }}</h1>
          <h4 class="text-center"><i>{{ .Param "subtitle" }}</i></h4>
          <h3 class="text-center">8 - 14 augustus 2020</h3>
          <h4 class="text-center">Eemlandhoeve, Bunschoten-Spakenburg</h4>
          <h4 class="text-center"></h4>
        </div>
      </div>
    </div>
  </div>
