    <!-- Footer -->
    <footer class="text-md-left text-center p-4 bg-dark text-light">
      <div class="container">
        <div class="row">
          <div class="my-3 col-lg-4 col-md-6">
            <h3>KloosterBoerderijFestival</h3>
            <p class="text-muted">Bisschopsweg 7<br /> Bunschoten-Spakenburg</p>
            <p class="my-3"></p>
            <p class="text-muted">info<span id="dummy">REMOVE</span>@klooster<span id="dummy">REMOVE</span>boerderijfestival<span id="dummy">REMOVE</span>.nl</p>
<a class="btn btn-lg btn-primary" href="https://registratie.kloosterboerderijfestival.nl/kbf/2020">Meld je nu aan!</a>
          </div>
          <div class="my-3 col-lg-4 col-md-6">
          <h3>Team links</h3>
          <p><a href="https://free01.thegood.cloud/" target="blank">Documenten</a></p>
          <p><a href="admin" target="blank">Website CMS</a></p>
          </div>
          <div class="col-lg-1"> </div>
          <div class="my-3 col-lg-3">
            <a href="https://www.facebook.com/kloosterboerderijfestival/" target="blank"><i class="fab fa-facebook text-muted fa-3x m-2"></i></a>
            <a href="https://twitter.com/KloosterBF" target="blank"><i class="fab fa-twitter text-muted fa-3x m-2"></i></a>
            <a href="https://framagit.org/kbf/2019.kloosterboerderijfestival.nl" target="blank"><i class="fab fa-gitlab text-muted fa-3x m-2"></i></a>
            <a href="https://framapiaf.org/@kbf" target="blank"><i class="fab fa-mastodon text-muted fa-3x m-2"></i></a>
            {{ if .RSSLink }}
            <a href="{{ .RSSLink }}" target="blank"><i class="fa fa-rss text-muted fa-3x m-2"></i></a>
            {{ end }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">© Copyright 2020 KloosterBoerderijFestival</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- JavaScript dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Script: Smooth scrolling between anchors in the same page -->
    <script src="js/smooth-scroll.js"></script>

{{ partial "piwik.html" . }}

<script>
netlifyIdentity.init({
  APIUrl: "https://kbf2018.netlify.com/.netlify/identity"
});
</script>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>

</html>
