 <div class="py-5 bg-light">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="mb-4 text-primary">{{ T "about" }}</h1>
          <p class="lead">{{ .Param "description" }}</p>
          <div class="row text-left mt-5">
            {{ range .Site.Params.topics }}
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x {{ .icon }}"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>{{ .title }}</b></h5>
                </div>
              </div>
              <p>{{ .content }}</p>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>

