  <!-- Carousel venue -->
  <div class="py-5 bg-light" id="venue">
    <div class="container">
      <h1 class="mb-4 text-primary text-center">{{ T "location" }}</h1>
      <div class="row bg-primary animate-in-down">
        <div class="p-4 col-md-6 align-self-center">
          <p class="m-0">{{ .Param "location-intro" }}</p>
          <h2>{{ .Param "location" }}</h2>
          <h4>{{ .Param "location-address" }} </h4>
          <p class="my-4">{{ .Param "location-description" }} </p>
          <a class="btn btn-secondary" href="https://www.koningshoeven.nl/">{{ T "more" }} {{ .Param "location" }}</a>
        </div>
        <div class="p-0 col-md-6">
          <div class="carousel slide" data-ride="carousel" id="carousel1">
            <div class="carousel-inner" role="listbox">
              {{ range $index, $value := .Site.Params.location_images }}
              <div class="carousel-item {{ if (eq $index 0) }}active{{ end }}">
                <img class="d-block img-fluid w-100" src="{{ .src }}">
                <div class="carousel-caption">
                  <h3>{{ .title }}</h3>
                  <p></p>
                </div>
              </div>
              {{ end }}
            </div>
            <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
            <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<div>
