   <div class="py-5 text-center bg-primary text-white" id="media">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="lead"><h1>In de media</h1></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 p-4">
            <a href="https://www.nieuwwij.nl/nieuws/radicale-keuzes-maken-is-makkelijker-als-je-het-samen-doet/">
              <img class="img-fluid d-block rounded-circle mx-auto" src="assets/nieuwwij.jpg"> </a>
            <p class="my-4">
              “Radicale keuzes maken is makkelijker als je het samen doet”</a>
            </p>
            <p>
              <a class="btn btn-dark" href="https://www.nieuwwij.nl/nieuws/radicale-keuzes-maken-is-makkelijker-als-je-het-samen-doet/">Lees meer</a>
            </p>
            <p>
            <b>KBF 2018</b>
            </p>
          </div>
          <div class="col-md-4 p-4">
            <a href="https://www.rtvoost.nl/nieuws/297100/bidden-en-aardappelen-rooien-op-het-kloosterboerderijfestival"><img class="img-fluid d-block rounded-circle mx-auto" src="assets/rtvoost.jpg" ></a>
            <p class="my-4"> </p>
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" allowfullscreen="" src="https://www.youtube.com/embed/bPPsrhGJU-w?autoplay=0"> </iframe>
            </div>
            <p contenteditable="true"></p>
            <p>KBF 2018</p>
          </div>
          <div class="col-md-4 p-4">
            <img class="img-fluid d-block rounded-circle mx-auto" src="assets/rtvbunschoten.jpg">
            <p class="my-4"> </p>
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" allowfullscreen="" src="https://www.youtube.com/embed/5GQwu-35zwI?autoplay=0"> </iframe>
            </div>
            <p></p>
            <p>Tijdens het eerste KloosterBoerderijFestival in 2015</p>
          </div>
        </div>
      </div>
    </div>

