    <!-- newsletter -->
    <div class="py-5 text-white bg-primary text-center" id="nieuwsbrief">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Nieuwsbrief</h1>
            <p class="lead mb-4">Schrijf je in voor de nieuwsbrief om op de hoogte te blijven</p>
            <iframe width="100%" height="100%" scrolling="no" frameborder="0" src="https://www.kloosterboerderijfestival.nl?mailpoet_form_iframe=2" class="mailpoet_form_iframe" id="mailpoet_form_iframe" vspace="0" tabindex="0" onload="if (window['MailPoet']) MailPoet.Iframe.autoSize(this);" marginwidth="0" marginheight="0" hspace="0" allowtransparency="true"></iframe>
            <p><!--Space for form -->
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
           </p>
          </div>
        </div>
      </div>
    </div>

