
{{ partial "header" . }}

   <div class="py-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4 text-primary text-center">{{ .Title }}</h1>
          <div class="row">
            {{ range sort .Data.Pages ".Params.when" "asc" }}
            <div class="col-md-3 col-6 p-4"> 
              <div class="card text-white">
                <a href="{{ .Permalink }}">
                  <img class="card-img" src="{{ .Params.image }}" alt="">
                  <div class="card-img-overlay">
                    <h5 class="card-title"> <b>{{ .Title }}</b> </h4>
                  </div>
                </a>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
</div>

{{ partial "footer.html" . }}

