{{ partial "header" . }}

  <div class="py-5 text-center text-white h-60 align-items-center d-flex" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .20)), url({{ .Params.header }});  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
    <div class="container py-5">
      <div class="row">
        <div class="mx-auto col-lg-8 col-md-10">
          <h1 class="display-3 mb-4">{{ .Title }}</h1>
          <div class="col-md-12"><a class="btn btn-secondary" href="#" >{{ .Params.Category }}</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light" >
    <div class="container">
      <div class="row">
        <div class="col-md-14">
          <p>{{ dateFormat "Monday 02 Jan 15:04" .Params.when }}</p>
          <a href="{{ .Params.link }}">{{ .Params.link }}</a>
          <p>{{ .Content }}</p>
          {{ if .Params.vimeo }}
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://player.vimeo.com/video/{{ .Params.vimeo }}?title=0&amp;byline=0&amp;portrait=0" allowfullscreen="" class="embed-responsive-item"></iframe>
          </div>
          {{ end }}
          {{ if .Params.youtube }}
          <div class="embed-responsive embed-responsive-16by9" >
            <iframe src="https://www.youtube.com/embed/{{ .Params.youtube }}?controls=0" allowfullscreen="" class="embed-responsive-item"></iframe>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>

{{ partial "schema-event" . }}

{{ partial "footer" . }}

